[profile.release]
panic = "unwind"

[workspace.package]
authors = ["R0GUE <go@r0gue.io>"]
edition = "2021"
homepage = "https://r0gue.io"
license = "Unlicense"
repository = "https://github.com/r0gue-io/base-parachain"

[workspace]
members = ["node", "runtime"]
resolver = "2"

[workspace.dependencies]
clap = { version = "4.5.10", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.6.12", default-features = false, features = [
  "derive",
] }
color-print = "0.3.4"
docify = "0.2.8"
futures = "0.3.30"
hex-literal = "0.4.1"
jsonrpsee = { version = "0.24.3", features = ["server"] }
log = { version = "0.4.21", default-features = false }
scale-info = { version = "2.11.1", default-features = false, features = [
  "derive",
] }
serde = { version = "1.0.209", default-features = false }
serde_json = { version = "1.0.127", default-features = false }
smallvec = "1.11.2"

# Build
substrate-build-script-utils = "11.0.0"
substrate-wasm-builder = "24.0.1"

# Local
parachain-template-runtime = { path = "./runtime" }

# Substrate
frame-benchmarking = { version = "38.0.0", default-features = false }
frame-benchmarking-cli = "43.0.0"
frame-executive = { version = "38.0.0", default-features = false }
frame-support = { version = "38.2.0", default-features = false }
frame-support-procedural = { version = "30.0.3", default-features = false }
frame-system = { version = "38.0.0", default-features = false }
frame-system-benchmarking = { version = "38.0.0", default-features = false }
frame-system-rpc-runtime-api = { version = "34.0.0", default-features = false }
frame-try-runtime = { version = "0.44.0", default-features = false }
frame-metadata-hash-extension = { version = "0.6.0", default-features = false }
pallet-assets = { version = "40.0.0", default-features = false }
pallet-aura = { version = "37.0.0", default-features = false }
pallet-authorship = { version = "38.0.0", default-features = false }
pallet-balances = { version = "39.0.0", default-features = false }
pallet-message-queue = { version = "41.0.2", default-features = false }
pallet-nfts = { version = "32.0.0", default-features = false }
pallet-nfts-runtime-api = { version = "24.0.0", default-features = false }
pallet-nft-fractionalization = { version = "21.0.0", default-features = false }
pallet-session = { version = "38.0.0", default-features = false }
pallet-sudo = { version = "38.0.0", default-features = false }
pallet-timestamp = { version = "37.0.0", default-features = false }
pallet-transaction-payment = { version = "38.0.2", default-features = false }
pallet-transaction-payment-rpc = "41.0.0"
pallet-transaction-payment-rpc-runtime-api = { version = "38.0.0", default-features = false }
prometheus-endpoint = { version = "0.17.0", default-features = false, package = "substrate-prometheus-endpoint" }
sc-basic-authorship = "0.45.0"
sc-chain-spec = "38.0.0"
sc-cli = "0.47.0"
sc-client-api = "37.0.0"
sc-offchain = "40.0.0"
sc-consensus = "0.44.0"
sc-executor = "0.40.1"
sc-network = "0.45.3"
sc-network-sync = "0.44.1"
sc-rpc = "40.0.0"
sc-service = "0.46.0"
sc-sysinfo = "38.0.0"
sc-telemetry = "25.0.0"
sc-tracing = "37.0.1"
sc-transaction-pool = "37.0.0"
sc-transaction-pool-api = "37.0.0"
sp-api = { version = "34.0.0", default-features = false }
sp-block-builder = { version = "34.0.0", default-features = false }
sp-blockchain = "37.0.1"
sp-consensus-aura = { version = "0.40.0", default-features = false }
sp-core = { version = "34.0.0", default-features = false }
sp-io = { version = "38.0.0", default-features = false }
sp-genesis-builder = { version = "0.15.1", default-features = false }
sp-inherents = { version = "34.0.0", default-features = false }
sp-keystore = "0.40.0"
sp-offchain = { version = "34.0.0", default-features = false }
sp-runtime = { version = "39.0.5", default-features = false }
sp-session = { version = "36.0.0", default-features = false }
sp-std = { version = "14.0.0", default-features = false }
sp-timestamp = "34.0.0"
sp-transaction-pool = { version = "34.0.0", default-features = false }
sp-version = { version = "37.0.0", default-features = false }
substrate-frame-rpc-system = "39.0.0"


pallet-xcm = { version = "17.0.1", default-features = false }
polkadot-cli = "19.0.0"
polkadot-parachain-primitives = { version = "14.0.0", default-features = false }
polkadot-primitives = "16.0.0"
polkadot-runtime-common = { version = "17.0.0", default-features = false }
xcm = { version = "14.2.0", package = "staging-xcm", default-features = false }
xcm-builder = { version = "17.0.3", package = "staging-xcm-builder", default-features = false }
xcm-executor = { version = "17.0.0", package = "staging-xcm-executor", default-features = false }

# Cumulus
cumulus-client-cli = "0.18.0"
cumulus-client-collator = "0.18.0"
cumulus-client-consensus-aura = "0.18.0"
cumulus-client-consensus-common = "0.18.0"
cumulus-client-consensus-proposer = "0.16.0"
cumulus-client-service = "0.19.0"
cumulus-pallet-aura-ext = { version = "0.17.0", default-features = false }
cumulus-pallet-parachain-system = { version = "0.17.1", default-features = false }
cumulus-pallet-session-benchmarking = { version = "19.0.0", default-features = false }
cumulus-pallet-xcm = { version = "0.17.0", default-features = false }
cumulus-pallet-xcmp-queue = { version = "0.17.0", default-features = false }
cumulus-primitives-aura = { version = "0.15.0", default-features = false }
cumulus-primitives-core = { version = "0.16.0", default-features = false }
cumulus-primitives-parachain-inherent = "0.16.0"
cumulus-primitives-storage-weight-reclaim = { version = "8.0.0", default-features = false }
cumulus-primitives-utility = { version = "0.17.0", default-features = false }
cumulus-relay-chain-interface = "0.18.0"
pallet-collator-selection = { version = "19.0.0", default-features = false }
parachains-common = { version = "18.0.0", default-features = false }
parachain-info = { version = "0.17.0", package = "staging-parachain-info", default-features = false }
