[profile.release]
panic = "unwind"

[workspace.package]
authors = ["R0GUE <go@r0gue.io>"]
edition = "2021"
homepage = "https://r0gue.io"
license = "Unlicense"
repository = "https://github.com/r0gue-io/base-parachain"

[workspace]
members = ["node", "runtime"]
resolver = "2"

[workspace.dependencies]
clap = { version = "4.5.26", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.7.5", default-features = false, features = [
  "derive",
] }
color-print = "0.3.7"
docify = "0.4.1"
futures = "0.3.31"
hex-literal = "1.0.0"
jsonrpsee = { version = "0.24.9", features = ["server"] }
log = { version = "0.4.25", default-features = false }
scale-info = { version = "2.11.6", default-features = false, features = [
  "derive",
] }
serde = { version = "1.0.217", default-features = false }
serde_json = { version = "1.0.137", default-features = false }
smallvec = "1.13.2"

# Build
substrate-build-script-utils = "11.0.0"
substrate-wasm-builder = "27.0.0"

# Local
parachain-template-runtime = { path = "./runtime" }

# Substrate
frame-benchmarking = { version = "41.0.1", default-features = false }
frame-benchmarking-cli = "49.1.0"
frame-executive = { version = "41.0.1", default-features = false }
frame-support = { version = "41.0.0", default-features = false }
frame-system = { version = "41.0.0", default-features = false }
frame-system-benchmarking = { version = "41.0.0", default-features = false }
frame-system-rpc-runtime-api = { version = "37.0.0", default-features = false }
frame-try-runtime = { version = "0.47.0", default-features = false }
frame-metadata-hash-extension = { version = "0.9.0", default-features = false }
pallet-assets = { version = "43.0.0", default-features = false }
pallet-aura = { version = "40.0.0", default-features = false }
pallet-authorship = { version = "41.0.0", default-features = false }
pallet-balances = { version = "42.0.0", default-features = false }
pallet-message-queue = { version = "44.0.0", default-features = false }
pallet-nfts = { version = "35.0.0", default-features = false }
pallet-nfts-runtime-api = { version = "27.0.0", default-features = false }
pallet-nft-fractionalization = { version = "24.0.0", default-features = false }
pallet-session = { version = "41.0.0", default-features = false }
pallet-sudo = { version = "41.0.0", default-features = false }
pallet-timestamp = { version = "40.0.0", default-features = false }
pallet-transaction-payment = { version = "41.0.0", default-features = false }
pallet-transaction-payment-rpc = "44.0.0"
pallet-transaction-payment-rpc-runtime-api = { version = "41.0.0", default-features = false }
prometheus-endpoint = { version = "0.17.6", default-features = false, package = "substrate-prometheus-endpoint" }
sc-basic-authorship = "0.50.0"
sc-chain-spec = "44.0.0"
sc-cli = "0.53.1"
sc-client-api = "40.0.0"
sc-offchain = "46.0.0"
sc-consensus = "0.50.0"
sc-executor = "0.43.0"
sc-network = "0.51.1"
sc-service = "0.52.0"
sc-sysinfo = "43.0.0"
sc-telemetry = "29.0.0"
sc-tracing = "40.0.0"
sc-transaction-pool = "40.1.0"
sc-transaction-pool-api = "40.0.0"
sp-api = { version = "37.0.0", default-features = false }
sp-block-builder = { version = "37.0.0", default-features = false }
sp-blockchain = "40.0.0"
sp-consensus-aura = { version = "0.43.0", default-features = false }
sp-core = { version = "37.0.0", default-features = false }
sp-genesis-builder = { version = "0.18.0", default-features = false }
sp-inherents = { version = "37.0.0", default-features = false }
sp-keyring = { version = "42.0.0", default-features = false }
sp-keystore = "0.43.0"
sp-offchain = { version = "37.0.0", default-features = false }
sp-runtime = { version = "42.0.0", default-features = false }
sp-session = { version = "39.0.0", default-features = false }
sp-timestamp = "37.0.0"
sp-transaction-pool = { version = "37.0.0", default-features = false }
sp-version = { version = "40.0.0", default-features = false }
substrate-frame-rpc-system = "45.0.0"

# Polkadot
pallet-xcm = { version = "20.1.3", default-features = false }
polkadot-cli = "25.0.0"
polkadot-parachain-primitives = { version = "17.0.0", default-features = false }
polkadot-primitives = "19.0.0"
polkadot-runtime-common = { version = "20.0.0", default-features = false }
xcm = { version = "17.0.0", package = "staging-xcm", default-features = false }
xcm-builder = { version = "21.1.0", package = "staging-xcm-builder", default-features = false }
xcm-executor = { version = "20.0.1", package = "staging-xcm-executor", default-features = false }

# Cumulus
cumulus-client-bootnodes = "0.2.0"
cumulus-client-cli = "0.24.0"
cumulus-client-collator = "0.24.0"
cumulus-client-consensus-aura = "0.24.0"
cumulus-client-consensus-common = "0.24.0"
cumulus-client-consensus-proposer = "0.20.0"
cumulus-client-service = "0.25.1"
cumulus-pallet-aura-ext = { version = "0.21.0", default-features = false }
cumulus-pallet-parachain-system = { version = "0.21.0", default-features = false }
cumulus-pallet-session-benchmarking = { version = "22.0.0", default-features = false }
cumulus-pallet-weight-reclaim = { version = "0.3.0", default-features = false }
cumulus-pallet-xcm = { version = "0.20.0", default-features = false }
cumulus-pallet-xcmp-queue = { version = "0.21.0", default-features = false }
cumulus-primitives-aura = { version = "0.18.0", default-features = false }
cumulus-primitives-core = { version = "0.19.0", default-features = false }
cumulus-primitives-utility = { version = "0.21.0", default-features = false }
cumulus-relay-chain-interface = "0.24.0"
pallet-collator-selection = { version = "22.0.0", default-features = false }
parachains-common = { version = "22.0.0", default-features = false }
parachain-info = { version = "0.21.0", package = "staging-parachain-info", default-features = false }
